body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#0f172a;
  color:white;
  font-family:sans-serif;
}

.container{
  text-align:center;
}

input{
  padding:12px;
  border:none;
  border-radius:8px;
  margin-right:10px;
}

button{
  padding:12px 20px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

.weather-card{
  margin-top:20px;
  padding:20px;
  background:rgba(255,255,255,.1);
  border-radius:12px;
}